AUTH_APP_SECRET_KEY=your_auth_secret_key
AUTH_APP_DEBUG=True

AUTH_DB_USER=auth_service_user
AUTH_DB_PASSWORD=your_auth_password
AUTH_DB_NAME=auth_service_db
AUTH_DB_HOST=auth_postgres
AUTH_SERVICE_PORT=8000
AUTH_DB_PORT=5433

ORG_APP_SECRET_KEY=your_org_secret_key
ORG_APP_DEBUG=True

ORG_DB_USER=org_service_user
ORG_DB_PASSWORD=your_org_password
ORG_DB_NAME=org_service_db
ORG_DB_HOST=org_postgres
ORG_SERVICE_PORT=8001
ORG_DB_PORT=5434

TASKS_APP_SECRET_KEY=your_tasks_secret_key
TASKS_APP_DEBUG=True

TASKS_DB_USER=tasks_service_user
TASKS_DB_PASSWORD=your_tasks_password
TASKS_DB_NAME=tasks_service_db
TASKS_DB_HOST=tasks_postgres
TASKS_SERVICE_PORT=8002
TASKS_DB_PORT=5435

KAFKA_BIND_HOST=127.0.0.1